body {
    background-color: #272D2D;
}

h1, .navbar-brand {
    color: #D44D5C;
    font-family: 'Kavoon', serif;
}

.navbar {
    background-color: #302D2C;
    color: #F4F4F4;
}

#results {
    padding-top: 1em;
}

ol {
    list-style: none;
}

.searchresult-item {
    padding: 32px;
    background: #3E3136;
    border-radius: 32px;
    box-shadow: 8px 8px 10px #151414;
}

.search-poster {
    width: 80%;
}

.row {
    margin-bottom: 32px;
}