body {
    background-color: #272D2D;
}

h1, .navbar-brand {
    color: #D44D5C;
    font-family: 'Kavoon', serif;
}

.navbar {
    background-color: #302D2C;
    color: #F4F4F4;
}

#results {
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    color: #fff;
}

ol {
    list-style: none;
}

.searchresult-item {
    padding: 32px;
    background: #3B393A;
    border-radius: 32px;
    box-shadow: 8px 8px 10px #151414;
}

.search-poster {
    width: 80%;
}

.row {
    margin-bottom: 32px;
}

.modal-content {
    color: #fff;
}

.modal-poster {
    max-width: 100%;
}

.loader {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #modal-loader {
    display: none;
  }

  .modal-body p {
    margin-bottom: 1.5em;
  }

  .modal-body h2 {
    font-size: 1.5rem;
  }

  #searchbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .searchbox-container {
    margin: 2em 0 2em 0;
  }

  #movieName {
    width: 50%;
    margin-right: 0.5em;
  }

  @media (max-width: 540px) {

    #movieName {
        flex-grow: 2;
        margin-right: 0.5em;
      }
    
      #mainSearchButton {
        flex-grow: 1;
      }
  }
  
h3 {
    font-size: 1.5rem;
}